{{! template-lint-disable no-invalid-interactive }}
<li
  ...attributes
  class="ember-right-click-menu__item
    {{if @item.class @item.class}}
    {{if @item.divider "ember-right-click-menu__item--divider"}}
    {{if @item.disabled "ember-right-click-menu__item--disabled"}}
    {{if @hasAnySubItemList "ember-right-click-menu__item--chevron"}}"
  {{on "mouseover" this.mouseEnter}}
  {{on "mouseleave" this.mouseLeave}}
  {{on "click" this.triggerAction}}
>
  {{#if @hasBlock}}
    {{yield @item}}
  {{else}}
    {{@item.title}}
  {{/if}}
  {{#if @item.items}}
    <ItemList
      @items={{@item.items}}
      @closeContextMenu={{@closeContextMenu}}
      @hasBlock={{@hasBlock}}
      @show={{this.show_sub_menu}}
      {{did-insert this.saveElement}}
      as |item|
    >
      {{yield item}}
    </ItemList>
    <FaIcon @icon="chevron-right"/>
  {{/if}}
</li>
